{% extends 'base.html' %} {% block body_block %}
<div class="body-block-home">
  <div class="welcome-user">Welcome <span>{{user}}</span></div>

  <div class="copy-link-suggestion mt-3">
    Copy and share the link below.
  </div>
  <div class="copy-link">
    <input
      id="copy-link"
      type="text"
      name=""
      value="https://twing.herokuapp.com/user/{{user}}"
      onclick="copyLinkHandler()"
      readonly
    />
    <a href="javascript:void(0)" onclick="copyLinkHandler()"
      ><i class="fa fa-copy"></i
    ></a>
  </div>

  <div class="mt-3">
    <p>
      You have got
      <span class="message-count"
        >{{ message_count }} message{{ message_count|pluralize }}</span
      >
    </p>
    <a class="view-message" href="{% url 'messages' %}"
      >Click here to view messages</a
    >
  </div>

  <div class="random-msg mt-4">
    <a href="{% url 'random' %}">Send message to a random user.</a>
  </div>

  <div class="button-section my-3">
    <a
      href="https://www.facebook.com/sharer/?u=https://twing.herokuapp.com/user/{{user}}"
      target="_blank"
      class="btn facebook p-2"
      >Share to Facebook</a
    >
    <!-- <a href="#" class="btn whatsapp">Share to Whatsapp</a>
    <a href="#" class="btn instagram">Share to Instagram</a> -->
  </div>
</div>

{% endblock %}
