{% extends 'base.html' %} {% block body_block %}

<div class="body-block-home">
  <div class="welcome-user">Welcome <span>shovon588</span></div>

  <div class="copy-link-suggestion">
    Click below link to copy.
  </div>
  <div class="copy-link">
    <p>http://127.0.0.1:8000/shovon588 <i class="fa fa-copy"></i></p>
  </div>

  <div class="message-count">
    <p>You have got <span>10 messages</span></p>
    <a href="#">Click here to view messages</a>
  </div>

  <div class="button-section">
    <a href="#" class="btn facebook">Share to Facebook</a>
    <a href="#" class="btn whatsapp">Share to Whatsapp</a>
    <a href="#" class="btn instagram">Share to Instagram</a>
  </div>
</div>

{% endblock %}
