{% extends 'base.html' %} {% block body_block %}
<div class="form-container">
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  {% endfor %}

  <div class="form-top">
    <p>Login</p>
  </div>
  <div class="form-fields">
    <form class="signin-form" action="" method="post">
      {% csrf_token %}
      <p>Username</p>
      <input type="text" name="username" , required />
      <p>Password</p>
      <input type="password" , name="password" , required />

      <button>Login</button>
    </form>
    <p class="small-ad">
      Don't have an account?
      <span><a href="{% url 'signup' %}">Create one now.</a></span>
    </p>
  </div>
</div>

{% endblock %}
