{% extends 'base.html' %} {% block body_block %}

<div class="message-div">
  {% for message in messages %}
  <div class="alert alert-danger text-center" role="alert">
    {{message}}
  </div>
  {% endfor %} {% if page_obj %}
  <div class="text-center">
    <a
      href="{% url 'favorite' %}"
      style="font-size: 18px; color: #dc3545; font-weight: bold;"
      >See favorite messages</a
    >
  </div>

  {% for message in page_obj %}
  <div class="card mt-3 border border-0">
    <div class="card-header border border-0" style="background-color: #fff;">
      <a id="header-{{message.id}}" style="font-size: 6px;">
        {{message.type|title}} [ {{message.when}} ]
      </a>

      <a
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        class="float-right"
      >
        ...
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'delete' message.pk %}"
          >Delete Message</a
        >
      </div>
    </div>

    <div class="card-body">
      <p class="card-text text-center" id="message-{{message.id}}">
        {{message.message}}
      </p>
    </div>

    <div class="card-footer border border-0 text-center">
      <a
        type="button"
        class="expand-btn"
        data-toggle="modal"
        data-target="#exampleModalLong"
        onclick="modalHandler({{message.id}})"
        style="font-size: 20px;"
        data-toggle="tooltip"
        data-placement="top"
        title="Expand Message"
        ><i class="fa fa-expand"></i
      ></a>
      {% if message.favorite %}
      <a type="button"
        ><i
          id="fav-{{message.id}}"
          class="fa fa-heart ml-3 mt-1 text-danger"
          style="font-size: 22px;"
          onclick="toggleFavorite({{message.id}})"
          data-toggle="tooltip"
          data-placement="top"
          title="Toggle Favorite"
        ></i
      ></a>

      {% else %}
      <a type="button"
        ><i
          id="fav-{{message.id}}"
          class="fa fa-heart-o ml-3 mt-1"
          style="font-size: 22px;"
          onclick="toggleFavorite({{message.id}})"
          data-toggle="tooltip"
          data-placement="top"
          title="Toggle Favorite"
        ></i
      ></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <div class="my-5 p-3 text-center" style="font-size: 16px; font-weight: bold;">
    <center>
      <span class="step-links text-center">
        {% if page_obj.has_previous %}
        <a class="text-danger" href="?page=1">&laquo; First</a>
        <a class="ml-2" href="?page={{ page_obj.previous_page_number }}"
          >Prev</a
        >
        {% endif %}

        <span class="current mx-2" style="font-size: 8px; color: #9c9992;">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a
          class="text-danger ml-2"
          href="?page={{ page_obj.paginator.num_pages }}"
          >Last &raquo;</a
        >
        {% endif %}
      </span>
    </center>
  </div>
  {% else %}
  <h3 class="text-center mt-5">
    No messages yet. Share your twing link to get some.
  </h3>
  {% endif %}
</div>

<!-- Modal -->
<div
  class="modal fade mt-3"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border border-0 bg-warning text-center">
        <div
          class="modal-body text-center p-0"
          style="font-size: 20px;"
          id="exampleModalLongTitle"
        ></div>
        <!-- <p class="modal-title text-center" id="exampleModalLongTitle"></p> -->
        <!-- <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body" id="modal-body"></div>
      <div class="modal-footer border border-0">
        <a
          type="button"
          class="close-btn"
          data-dismiss="modal"
          style="font-size: 8px;"
        >
          Close
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
