{% extends 'base.html' %} {% block body_block %}

<div class="info-div">
  {% for message in messages %}
  <div class="alert alert-danger" style="font-size: 12px;" role="alert">
    {{ message }}
  </div>
  {% endfor %}

  <div class="send-to">
    Receiver: {{ username }}
  </div>

  <form action="" method="post">
    {% csrf_token %}
    <label for="message" class="msg-label">Message:</label>
    <textarea
      id="message"
      name="message"
      oninput="countCharHandler()"
      maxlength="256"
      required
    ></textarea>
    <p id="char-left">256 characters left.</p>
    <p id="char-left-danger"></p>
    <button class="send-msg-btn login-btn">Send</button>
  </form>
</div>

{% endblock %}
