{% extends 'base.html' %} {% block body_block %}

<div class="form-container">
  {% for message in messages %}
  <div class="alert alert-danger text-center" role="alert">
    {{message}}
  </div>
  {% endfor %}

  <div class="form-top">
    <p class="form-top-text">Sign Up</p>
  </div>
  <div class="form-fields">
    <form class="signin-form" action="" method="post">
      {% csrf_token %}
      <p>Username:</p>
      <input type="text" name="username" , required />
      <p>Password:</p>
      <input type="password" , name="password" , required />

      <button class="login-btn">Signup</button>
      <p class="small-ad">
        Already have an account?
        <span><a href="{% url 'login' %}">Login!</a></span>
      </p>
    </form>
  </div>
</div>

{% endblock %}
