{% extends 'base.html' %} {% block body_block %}

<div class="info-div text-center">
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    {{ message }}
  </div>
  {% endfor %}

  <div class="random-msg mt-5">
    <a href="{% url 'random' %}">Send message to a random user.</a>
  </div>

  {% if user.is_authenticated %}
  <div class="join-now">
    <p style="font-size: 15px;">Share your link to get twinged.</p>
    <a href="{% url 'home' %}" style="font-weight: bold;">Go back home.</a>
  </div>
  {% else %}
  <div class="join-now">
    <p style="font-size: 15px;">It's time for you to get twinged.</p>

    <p>
      Not a member yet?
      <a href="{% url 'signup' %}" style="font-weight: bold; color: blue;"
        >Join Now!</a
      >
    </p>
    <p>
      Already have an account?
      <a href="{% url 'login' %}" style="font-weight: bold; color: blue;"
        >Login!</a
      >
    </p>
  </div>
  {% endif %}
</div>
{% endblock %}
