body {
  background-color: #fff;
}

.main-logo {
  margin-top: 8%;
  height: 90px;
  width: 150px;
}

.main-div {
  max-width: 430px;
  min-height: 620px;
  background-color: rgba(222, 252, 121, 0.7);
  margin: 1% auto 0 auto;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.footer-div {
  max-width: 430px;
  background-color: rgba(222, 219, 211, 0.7);
  margin: 0 auto 0 auto;
  padding: 7px;
  text-align: center;
  font-weight: bold;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-div {
  background-color: rgba(222, 219, 211, 0.7);
  padding: 15px;
  border-radius: 7px;
  margin-top: 5%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

.nav-large {
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}

.nav-small {
  display: inline-block;
  margin-left: 3%;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
