.body-block-home {
  margin-top: 3%;
  text-align: center;
}

.welcome-user {
  font-size: 25px;
  padding: 10px;
}

.welcome-user span {
  font-size: 30px;
  font-weight: bold;
}

.copy-link-suggestion {
  font-size: 10px;
  margin-bottom: 5px;
}

.view-messages {
  color: blue;
}

#copy-link {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  background-color: rgb(94, 92, 88);
  color: #fff;
  width: 70%;
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
  outline: none;
}

.message-count {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1;
}

.message-count {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.view-message {
  font-size: 10px;
  color: blue;
  line-height: 0.5;
  font-weight: bold;
}

.facebook {
  margin-top: 8%;
  background-color: #3b5998;
  color: #fff;
  padding: 5px;
  width: 250px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

.whatsapp {
  margin-top: 3%;
  background-color: #25d366;
  color: #fff;
  padding: 5px;
  width: 250px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

.instagram {
  margin-top: 3%;
  background-color: #e1306c;
  color: #fff;
  padding: 5px;
  width: 250px;
  border: none;
  font-size: 15px;
  border-radius: 15px;
}
